<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Admin page</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link href="../assets/fontawesome/css/all.css" rel="stylesheet">
<link href="../assets/fontawesome/css/fontawesome.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="../assets/css/admin.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


<script>
	$(document).ready(function(){
		// Activate tooltip
		$('[data-toggle="tooltip"]').tooltip();
		
		// Select/Deselect checkboxes
		var checkbox = $('table tbody input[type="checkbox"]');
		$("#selectAll").click(function(){
			if(this.checked){
				checkbox.each(function(){
					this.checked = true;                        
				});
			} else{
				checkbox.each(function(){
					this.checked = false;                        
				});
			} 
		});
		checkbox.click(function(){
			if(!this.checked){
				$("#selectAll").prop("checked", false);
			}
		});
	});
		function closeMe(element) {
			$(element).parent().remove();
		}

		function addMore() {
			var container = $('#list');
			var item = container.find('.default').clone();
			item.removeClass('default');
			//add anything you like to item, ex: item.addClass('abc')....
			item.appendTo(container).show();
		}
</script>

</head>
<body id="admin">
	<div id="modifQuiz">
		<!--modification quiz-->
		<div class="container">
			<div class="table-responsive">
				<div class="table-wrapper">
					<div class="table-title">
						<div class="row">
							<div class="col-xs-6 lien">
								<button class="bouton-home" data-toggle="modal" data-target="#logOut"><i class="fas fa-home"></i></button>
								<h2><b>Modification</b></h2>
							</div>
							<div class="col-xs-6">
								<a href="#editsQuiz" class="btn btn-warning" data-toggle="modal"><span>Modifier quiz</span></a>
								<a href="#addNewQuiz" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Ajouter new quiz</span></a>
								<a href="#deleteQuiz" class="btn btn-danger" data-toggle="modal"><i class="material-icons">&#xE15C;</i> <span>Delete Quiz</span></a>						
							</div>
						</div>
					</div>
					<table class="table table-striped table-hover">
						<thead>
							<tr>
								<th>
									<span class="custom-checkbox">
										<input type="checkbox" id="selectAll" title="selectAll">
										<label for="selectAll"></label>
									</span>
								</th>
								<th>Enoncé</th>
								<th>Question</th>
								<th>Réponses</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="quiz in quiz">
								<td>
									<span class="custom-checkbox">
										<input type="checkbox" id="checkbox1" name="options[]" value="1">
										<label for="checkbox1"></label>
									</span>
								</td>
								<td> {{ quiz.ENONCE_GROUPEQUEST }} </td>
								<td>{{ quiz.ENONCE_QUESTION }}</td>
								<td> {{ quiz.CHOIX }} </td>
								<td>
									<a href="#editQuiz" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
									<a href="#deleteQuiz" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
								</td>
							</tr>
						</tbody>
					</table>
					<div class="clearfix">
						<div class="hint-text">Showing <b>1</b> out of <b>25</b> entries</div>
						<ul class="pagination">
							<li class="page-item disabled"><a href="#">Previous</a></li>
							<li class="page-item"><a href="#" class="page-link">1</a></li>
							<li class="page-item"><a href="#" class="page-link">2</a></li>
							<li class="page-item active"><a href="#" class="page-link">3</a></li>
							<li class="page-item"><a href="#" class="page-link">4</a></li>
							<li class="page-item"><a href="#" class="page-link">5</a></li>
							<li class="page-item"><a href="#" class="page-link">Next</a></li>
						</ul>
					</div>
				</div>
			</div>        
		</div>	
			<!-- table statistiques reponses-->
		<div class="container">
			<div class="table-responsive">
				<div class="table-wrapper">
					<div class="table-title">
						<div class="row">
							<div class="col-xs-6" >
								<h2 style="margin-left: 70px;"><b>Statistiques</b></h2>
								<p style="margin-left: 70px;">Basé sur les réponses les plus choisies par les utilisateurs</p>
							</div>
						</div>
					</div>
					<table class="table table-striped table-hover">
						<thead> 
								<th>Enoncé</th>
								<th>Question</th>
								<th>Réponses</th>
								<th>Taux (%)</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td >Lore</td>
								<td>thomashardy@mail.com</td>
								<td>89 Chiaroscuro Rd, Portland, USA</td>
								<td>20 %</td>
							</tr>
							<tr>
								<td>Dominique Perrier</td>
								<td>dominiqueperrier@mail.com</td>
								<td>Obere Str. 57, Berlin, Germany</td>
								<td>30 %</td>
							</tr>
							<tr>
								<td>Maria Anders</td>
								<td>mariaanders@mail.com</td>
								<td>25, rue Lauriston, Paris, France</td>
								<td>50 %</td>
							</tr>
							<tr>	
								<td>Fran Wilson</td>
								<td>franwilson@mail.com</td>
								<td>C/ Araquil, 67, Madrid, Spain</td>
								<td>10 %</td>
							</tr>					
							<tr>
								<td>Martin Blank</td>
								<td>martinblank@mail.com</td>
								<td>Via Monte Bianco 34, Turin, Italy</td>
								<td>70 %</td>
							</tr> 
						</tbody>
					</table>
					<div class="clearfix">
						<div class="hint-text">Page <b>7</b> sur <b>105</b> au total</div>
						<ul class="pagination">
							<li class="page-item disabled"><a href="#">Previous</a></li>
							<li class="page-item"><a href="#" class="page-link">1</a></li>
							<li class="page-item"><a href="#" class="page-link">2</a></li>
							<li class="page-item active"><a href="#" class="page-link">3</a></li>
							<li class="page-item"><a href="#" class="page-link">4</a></li>
							<li class="page-item"><a href="#" class="page-link">5</a></li>
							<li class="page-item"><a href="#" class="page-link">Next</a></li>
						</ul>
					</div>
				</div>
			</div>        
		</div>
		<!--table stats users-->
		<div class="container">
			<div class="table-responsive">
				<div class="table-wrapper">
					<div class="table-title">
						<div class="row">
							<div class="col-xs-6">
								<h2><b>Les utilisateurs</b></h2>
							</div>
							<div class="col-xs-6">
								<a href="#deleteUser" class="btn btn-danger" data-toggle="modal"><i class="material-icons">&#xE15C;</i> <span>Delete user</span></a>						
							</div>
						</div>
					</div>
					<table class="table table-striped table-hover">
						<thead>
							<tr>
								<th>
									<span class="custom-checkbox">
										<input type="checkbox" id="selectAll" title="selectAll">
										<label for="selectAll"></label>
									</span>
								</th>
								<th>N°</th>
								<th>Nom</th>
								<th>Prénom</th>
								<th>Email</th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="user in user">
								<td>
									<span class="custom-checkbox">
										<input type="checkbox" id="checkbox1" name="options[]" value="1">
										<label for="checkbox1"></label>
									</span>
								</td>
								<td> {{ user.ID }} </td>
								<td> {{ user.NOM }} </td>
								<td> {{ user.PRENOM }} </td>
								<td> {{ user.EMAIL }} </td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>        
		</div>
	</div>

	<!-- Add Modal Quiz -->
	<div id="addNewQuiz" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form>
					<div class="modal-header">						
						<h4 class="modal-title">Ajouter Quiz</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">					
						<div class="form-group">
							<label>Enoncé</label>
							<input type="text" class="form-control" required>
						</div>
						<div class="form-group question">
							<label>Question</label>	
							<input type="text" class="form-control" required>
						</div>
						<div class="form-group">
							<label>Réponses</label>
							<ol id="list">
								<li class="default" style="display: none;">
									<input type="text" /><span style="cursor: pointer;" onclick="closeMe(this);">   delete</span>
								</li>
							</ol>
							<button onclick="addMore();">Add</button>
						</div>					
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal" value="Annuler">
						<input type="submit" class="btn btn-success" value="Ajouter">
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- Edit Modal Quiz -->
	<div id="editQuiz" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form>
					<div class="modal-header">						
						<h4 class="modal-title">Modifier Quiz</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">					
						<div class="form-group">
							<label>Enoncé</label>
							<input type="text" class="form-control" required>
						</div>
						<div class="form-group">
							<label>Question</label>
							<input type="text" class="form-control" required>
						</div>
						<div class="form-group">
							<label>Réponses</label>
							<textarea class="form-control" required></textarea>
						</div>					
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal" value="Annuler">
						<input type="submit" class="btn btn-info" value="Modifier">
					</div>
				</form>
			</div>
		</div>
	</div>
	<!--Edits quiz-->
	<div id="editsQuiz" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form>
					<div class="modal-header">						
						<h4 class="modal-title">Modifier Quiz</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">					
						<div class="form-group selection">
							<label>Enoncé</label>
							<select class="form-select form-select-lg mb-3" aria-label="Default select example">
								<option value="1">Enonce 1</option>
								<option value="2">Enonce 2</option>
								<option value="3">Enonce 3</option>
							</select>
						</div>
						<div class="form-group">
							<label>Question</label>
							<input type="text" class="form-control" required>
						</div>
						<div class="form-group">
							<label>Réponses</label>
							<textarea class="form-control" required></textarea>
						</div>					
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal" value="Annuler">
						<input type="submit" class="btn btn-info" value="Modifier">
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- Delete Modal HTML -->
	<div id="deleteQuiz" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form>
					<div class="modal-header">						
						<h4 class="modal-title">Supprimer Quiz</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">					
						<p>Vous êtes sûr de biern vouloir supprimer ?</p>
						<p class="text-warning"><small>Cette action est irréversible.</small></p>
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal" value="Annuler">
						<input type="submit" class="btn btn-danger" value="Supprimer">
					</div>
				</form>
			</div>
		</div>
	</div>	
	<!--modal delete user-->
	<div id="deleteUser" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form>
					<div class="modal-header">						
						<h4 class="modal-title">Supprimer cette utilisateur.</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">					
						<p>Vous êtes sûr de biern vouloir supprimer ?</p>
						<p class="text-warning"><small>Cette action est irréversible.</small></p>
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal" value="Annuler">
						<input type="submit" class="btn btn-danger" value="Supprimer">
					</div>
				</form>
			</div>
		</div>
	</div>


	<!--logout Modal-->
	<div class="modal fade" id="logOut" tabindex="-1" role="dialog" aria-labelledby="logOutModal" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Deconnexion</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					Souhaiter vous déconnecter de la page admin ?
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
					<button type="button" class="btn btn-primary"><a href="../index.html">Deconnecter</a></button>
				</div>
			</div>
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="assets/jquery.easing/jquery.easing.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js" crossorigin="anonymous" integrity=""></script>

	<script>
		var modifQuiz = new Vue({
			el: '#modifQuiz',
			data: {
				quiz: null,
				user: null
			},
			beforeMount(){
				this.getAllQuiz();
				this.getUser();
			},
			methods: {
				async getAllQuiz(){
					const res = await fetch('http://localhost/myPratique/quiz/api/index.php?demande=get/choix/.');
					const data = await res.json();
					this.quiz = data;
				},
				async getUser(){
					const res = await fetch('http://localhost/myPratique/quiz/api/index.php?demande=get/users/.');
					const data = await res.json();
					this.user = data;
					console.log(this.user[0]);
				}
			}
		})
	</script>
</body>
</html>