<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Quizz-eo</title>

 	<!--bootstrap et jquery-->
	  <link href="../assets/bootstrap/css/bootstrap.css" rel="stylesheet">
	  <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
	  <link rel="stylesheet" href="../assets/css/quiz.css">
	  <link href="../assets/icofont/icofont.min.css" rel="stylesheet">
	  <link href="../assets/boxicons/css/boxicons.min.css" rel="stylesheet">
	  <link href="../assets/fontawesome/css/all.css" rel="stylesheet">
	  <link href="../assets/fontawesome/css/fontawesome.css" rel="stylesheet">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

</head>
<body>

<div class="conteneur" id="quiz">
	<div class="principal">
		<form method="" action="">
			<div v-for="enonce in enonce">
				<h2 class="num_question">
					<b>Enonce {{ enonce.ID }}</b>
				</h2>
				<div class="enonce">
					<p>
						{{ enonce.ENONCE }}
					</p>
				</div>

				<div class="choix" v-for="question in question">
					<div v-if="enonce.ID == question.IDGROUPEQUEST">
							<p>{{ question.ID }}- {{ question.ENONCE_QUESTION }}  </p>
							<div v-for="reponse in reponse">
								<div v-if="question.ID == reponse.IDQUESTION">
									<input type="radio" class="btn-check" v-bind:name="reponse.IDQUESTION" v-bind:value="reponse.CHOIX" v-bind:id="reponse.ID" autocomplete="off" checked>
									<label class="btn btn-outline-primary" v-bind:for="reponse.ID">{{ reponse.CHOIX }}</label>
								</div>
							</div>
					</div>
				</div>
			</div>

			<div class="bouton">
				<a href="#quitQuiz" class="btn btn-danger" data-toggle="modal"> <span>Delete Quiz</span></a>
				<input type="submit" value="Suivant" class="btn btn-primary">						
			</div>
		</form>
	</div>
</div>


	<!--Modal Annulation quiz-->
	<div id="quitQuiz" class="modal fade">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<form>
					<div class="modal-header">						
						<h4 class="modal-title">Quitter la Quiz en cours ...</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">					
						<p>Vous voulez arrêter et retourner à la page d'accueil ?</p> ?</p>
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal" value="Annuler">
						<button class="btn btn-danger"><a href="../index.html">Quitter</a></button>
					</div>
				</form>
			</div>
		</div>
	</div>

  <script src="../assets/jquery/jquery.min.js"></script>
  <script src="../assets/bootstrap/js/bootstrap.js"></script>
  <script src="../assets/jquery.easing/jquery.easing.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js" crossorigin="anonymous" integrity=""></script>


  <script>
	  var quiz = new Vue({
		  el: '#quiz',
		  data: {
			reponse: null,
			enonce: null,
			question: null
		  },
		  beforeMount(){
			  this.getAllReponse();
			  this.getAllEnonce();
			  this.getAllQuestion();
		  },
		  methods: {
			async getAllReponse(){
				const res = await fetch('http://localhost/myPratique/quiz/api/index.php?demande=get/choix/.');
				const data = await res.json();
				this.reponse = data;
				console.log(this.reponse);
			},
			async getAllEnonce(){
				const res = await fetch('http://localhost/myPratique/quiz/api/index.php?demande=get/groupe-questions/.');
				const data = await res.json();
				this.enonce = data;
				console.log(this.enonce);
			},
			async getAllQuestion(){
				const res = await fetch('http://localhost/myPratique/quiz/api/index.php?demande=get/questions/.');
				const data = await res.json();
				this.question = data;
				console.log(this.question);
			}
		  }
	  })
	  
  </script>
</body>
</html>