.content{
	height: 602px;
}

.conteneur{
	display: flex;
	flex-direction: row;
}

.content-left{
	background-color: #418a71;
	border: 1px solid #418a71;
	flex: 2;
} 

.logo{
	margin: 0px 60px;
}
.txt_bienvenue{
	text-align: center;
	color: white;
	margin: 5px 20px;
}
.bouton{
	margin: 25px 150px;
}
.bouton a{
	background-color: transparent;
	border: 2px solid white;
	color: white;
	padding: 15px 40px;

}
.bouton a:hover{
	background-color: white;
	color: #418a71;
	border-color: #418a71;
	text-decoration: none;
}

.content-right{
	background: url("../img/boite.gif") fixed no-repeat 700px 110px;
	background-size: inherit;
	flex: 4;
	background-color: #97dcdf;
	padding: 10px 20px;
}

/*Icone*/
.fa-user-shield{
	background-color: none;
	font-size: 70px;
	color: #418a71;
}
.bouton-admin{
	background-color: #97dcdf;
	border: none;
	float: right;
	clear: both;
}

.container {
  padding: 2rem 0rem;
}

@media (min-width: 576px){
  .modal-dialog {
    max-width: 400px;
    
    .modal-content {
      padding: 1rem;
    }
  }
}

.modal-header {
  .close {
    margin-top: -1.5rem;
  }
}

.form-title {
  margin: -2rem 0rem 2rem;
}

.btn-round {
  border-radius: 3rem;
}

.delimiter {
  padding: 1rem;  
}

.social-buttons {
  .btn {
    margin: 0 0.5rem 1rem;
  }
}

.signup-section {
  padding: 0.3rem 0rem;
}

.modal-footer .btn-primary, .modal-footer .btn-primary:hover{
	background-color: #520d72;
}
