body{
    background-color: rgb(110, 227, 217);
}

.btn-primary, .btn-primary:hover{
    background-color: #262d49;
}

.btn-outline-primary{
    background-color: whitesmoke;
    border: 1px solid rgb(110, 227, 217);
    border-radius: 10px;
}

.btn-outline-primary:hover{
    background-color: #13d7d6;
    border-color: #13d7d6;
}

.conteneur{
    width: 75%;
    background-color: rgb(208, 247, 242);
    margin: 20px auto;
    box-shadow: 7px 5px 20px #5e5e61;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
}

.principal{
    margin: 30px 200px;
}

.num_question{
    text-align: center;
}

.enonce{
    text-align: center;
}

.choix{
    display: flex;
    flex-direction: column;
    margin: 0px 90px 10px 90px;
}

.choix label{
    width: 400px;
    height: 55px;
    padding: 10px;
    text-align: center;
    font-size: 16px;
}

.bouton{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

a, a:hover{
    color: aliceblue;
    text-decoration: none;
}